* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.greencircle {
  position: absolute;
  height: 1100px;
  width: 1100px;
  top: -13%;
  right: -20%;
  border-radius: 50%;
  background-color: #8DBF20;
  z-index: -5;
}

.greenline {
  background-color: #48FF2A;
  height: 8px;
  border-radius: 10px;
  margin-top: 8px;
  margin-bottom: 15px;
}

.w8 {
  width: 80%;
}

.w5 {
  width: 50%;
}

.w3 {
  width: 30%;
}

.body {
  position: relative;
  margin: 0px auto;
  width: 100%;
  max-width: 1800px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'DM Sans', sans-serif;
}

.box {
  padding-left: 3rem;
  padding-right: 3rem;
}

.bbtween {
  height: 200px;
  width: 100%;
}

.sbtween {
  height: 100px;
  width: 100%;
}

.vsbtween {
  height: 50px;
  width: 100%;
}

.tcent {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.small {
  font-size: 16px;
}

.med {
  font-size: 24px;
}

.big {
  font-size: 32px;
}

.huge {
  font-size: 48px;
}

.whitetxt {
  color: white;
}

.greytxt {
  color: #bbbbbb;
  font-size: 14px;
}

.blacktxt {
  color: black;
}

.themetxt {
  color: #8DBF20;
}

.theme3txt {
  color: #48FF2A;
}

.bmu {
  margin-top: 20px;
}

.smu {
  margin-top: 10px;
}

.bmd {
  margin-bottom: 20px;
}

.smd {
  margin-bottom: 10px;
}

.extraspc {
  height: 155px;
  width: 50%;
}

.nav {
  position: fixed;
  height: 55px;
  width: 100%;
  max-width: 1800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  z-index: 10;
}

.nav-colored {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  background-color: white;
  -webkit-box-shadow: 0px -8px 15px 1px #313131;
          box-shadow: 0px -8px 15px 1px #313131;
}

.nav_menu {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.section1 {
  height: 100%;
  width: 100%;
}

.section1_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.section1_col1 {
  width: 50%;
  height: 500px;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section1_col1_btn {
  height: 50px;
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #1E2541;
  color: #8DBF20;
  text-decoration: none;
  border-radius: 40px;
  -webkit-box-shadow: 1px 8px 15px #929292;
          box-shadow: 1px 8px 15px #929292;
}

.section1_col2 {
  width: 50%;
  height: 500px;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section1_col2_img {
  width: 100%;
  max-width: 1000px;
  z-index: -1;
  -webkit-transform: scale(1.6) translateY(-40px);
          transform: scale(1.6) translateY(-40px);
  -webkit-animation: caranimation;
          animation: caranimation;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.section2 {
  width: 100%;
  height: 100%;
}

.section2_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.section2_col1 {
  width: 60%;
  height: 500px;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section2_col2 {
  width: 40%;
  height: 500px;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section_car {
  width: 100% !important;
  max-width: 1000px;
}

.section3 {
  width: 100%;
  height: 100%;
}

.section3_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.section3_col2 {
  width: 60%;
  height: 500px;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section3_col1 {
  width: 40%;
  height: 500px;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section4 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section4_box {
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section5 {
  width: 100%;
  height: 100%;
  background-color: #1E2541;
}

.section5_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.section5_contactform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 380px;
}

.inputarea {
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  max-width: 600px;
  width: 100%;
  min-width: 450px;
  background-color: #1D2540;
  color: white;
  height: 40px;
}

.contactsubmit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 24px;
  padding-left: 24px;
  background-color: #48FF2A;
  border-radius: 30px;
  text-decoration: none;
  color: black;
  -webkit-box-shadow: 2px 8px 15px #1a1a1a;
          box-shadow: 2px 8px 15px #1a1a1a;
  cursor: pointer;
}

.section5_col1 {
  width: 50%;
  height: 500px;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section5_col2 {
  width: 50%;
  height: 500px;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contactwrap {
  margin-left: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.section_meter {
  width: 100% !important;
  max-width: 400px;
  padding: 20px !important;
}

.section6 {
  width: 100%;
  height: 100%;
  background-color: #1E2541;
}

.section6_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.section6_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33.33%;
  min-width: 300px;
}

.section6_col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-width: 300px;
  margin-top: 30px;
}

.section6_col_col1 {
  padding: 10px;
  width: 110px;
}

.section6_col_col2 {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.smediabtn {
  padding: 10px;
  margin-bottom: 10px;
}

.sidenav {
  height: 100vh;
  width: 220px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #1E2541;
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.trigger {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.sidenavlogo {
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 10px;
}

.lastlogo {
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 10px;
}

.cross {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  margin: 10px;
  cursor: pointer;
}

.nav_img {
  height: 35px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

@-webkit-keyframes caranimation {
  0% {
    -webkit-transform: translateX(100%) scale(1.6);
            transform: translateX(100%) scale(1.6);
  }
  100% {
    -webkit-transform: translateX(0%) scale(1.6);
            transform: translateX(0%) scale(1.6);
  }
}

@keyframes caranimation {
  0% {
    -webkit-transform: translateX(100%) scale(1.6);
            transform: translateX(100%) scale(1.6);
  }
  100% {
    -webkit-transform: translateX(0%) scale(1.6);
            transform: translateX(0%) scale(1.6);
  }
}

@media only screen and (max-width: 1024px) {
  .extraspc {
    height: 55px;
    width: 50%;
  }
  .greencircle {
    position: absolute;
    height: 900px;
    width: 900px;
    top: -8%;
    right: -20%;
    border-radius: 50%;
    background-color: #8DBF20;
    z-index: -5;
  }
  .inputarea {
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    max-width: 600px;
    width: 100%;
    min-width: 300px;
    background-color: #1D2540;
    color: white;
    height: 40px;
  }
  .bbtween {
    height: 100px;
    width: 100%;
  }
  .sbtween {
    height: 50px;
    width: 100%;
  }
  .vsbtween {
    height: 25px;
    width: 100%;
  }
  .section6_col1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25%;
    min-width: 300px;
    margin-top: 20px;
  }
  .section1_col2_img {
    width: 100%;
    max-width: 1000px;
    -webkit-transform: scale(1.6) translateY(-40px);
            transform: scale(1.6) translateY(-40px);
    z-index: -1;
  }
  @-webkit-keyframes caranimation {
    0% {
      -webkit-transform: translateX(100%) scale(1.6);
              transform: translateX(100%) scale(1.6);
    }
    100% {
      -webkit-transform: translateX(0%) scale(1.6);
              transform: translateX(0%) scale(1.6);
    }
  }
  @keyframes caranimation {
    0% {
      -webkit-transform: translateX(100%) scale(1.6);
              transform: translateX(100%) scale(1.6);
    }
    100% {
      -webkit-transform: translateX(0%) scale(1.6);
              transform: translateX(0%) scale(1.6);
    }
  }
}

@media only screen and (max-width: 844px) {
  .contactwrap {
    margin-left: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .section5_col1 {
    width: 50%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .section5_col2 {
    width: 50%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section3_col2 {
    width: 60%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section3_col1 {
    width: 40%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section2_col1 {
    width: 60%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section2_col2 {
    width: 40%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  @-webkit-keyframes caranimation {
    0% {
      -webkit-transform: translateX(100%) scale(1.6);
              transform: translateX(100%) scale(1.6);
    }
    100% {
      -webkit-transform: translateX(0%) scale(1.6);
              transform: translateX(0%) scale(1.6);
    }
  }
  @keyframes caranimation {
    0% {
      -webkit-transform: translateX(100%) scale(1.6);
              transform: translateX(100%) scale(1.6);
    }
    100% {
      -webkit-transform: translateX(0%) scale(1.6);
              transform: translateX(0%) scale(1.6);
    }
  }
  .section1_col2_img {
    width: 100%;
    max-width: 1000px;
    -webkit-transform: scale(1.6) translateY(-40px);
            transform: scale(1.6) translateY(-40px);
    z-index: -1;
  }
}

@media only screen and (max-width: 768px) {
  .greencircle {
    position: absolute;
    height: 750px;
    width: 750px;
    top: -3%;
    right: -20%;
    border-radius: 50%;
    background-color: #8DBF20;
    z-index: -5;
  }
}

@media only screen and (max-width: 694px) {
  .greencircle {
    position: absolute;
    height: 655px;
    width: 655px;
    top: 0%;
    left: 0px;
    right: 0px;
    border-radius: 50%;
    background-color: #8DBF20;
    z-index: -5;
  }
  .section1_col1 {
    width: 50%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section6_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 300px;
  }
  .section6_col_col1 {
    padding: 10px;
    width: 50%;
    text-align: left;
  }
  .section6_col_col2 {
    padding: 10px;
    width: 50%;
    text-align: left;
  }
  .section1_col2 {
    width: 50%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 50px;
  }
  .section1_col1_btn {
    height: 50px;
    width: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-transform: translateY(180px);
            transform: translateY(180px);
    background-color: #1E2541;
    color: #8DBF20;
    text-decoration: none;
    border-radius: 40px;
    -webkit-box-shadow: 1px 8px 15px #929292;
            box-shadow: 1px 8px 15px #929292;
  }
  .contactsubmit {
    margin: 0px auto;
  }
  @-webkit-keyframes caranimation {
    0% {
      -webkit-transform: translateY(-30px) translateX(100%) scale(1.1);
              transform: translateY(-30px) translateX(100%) scale(1.1);
    }
    100% {
      -webkit-transform: translateY(-30px) translateX(0%) scale(1.1);
              transform: translateY(-30px) translateX(0%) scale(1.1);
    }
  }
  @keyframes caranimation {
    0% {
      -webkit-transform: translateY(-30px) translateX(100%) scale(1.1);
              transform: translateY(-30px) translateX(100%) scale(1.1);
    }
    100% {
      -webkit-transform: translateY(-30px) translateX(0%) scale(1.1);
              transform: translateY(-30px) translateX(0%) scale(1.1);
    }
  }
}

@media only screen and (max-width: 425px) {
  .greencircle {
    position: absolute;
    height: 600px;
    width: 600px;
    top: 1%;
    left: -25%;
    right: 0px;
    border-radius: 50%;
    background-color: #8DBF20;
    z-index: -5;
  }
  .section4_box {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .box {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 320px) {
  .greencircle {
    position: absolute;
    height: 600px;
    width: 600px;
    top: 1%;
    left: -40%;
    right: 0px;
    border-radius: 50%;
    background-color: #8DBF20;
    z-index: -5;
  }
  .section4_box {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  @-webkit-keyframes caranimation {
    0% {
      -webkit-transform: translateY(-35px) translateX(100%) scale(1.1);
              transform: translateY(-35px) translateX(100%) scale(1.1);
    }
    100% {
      -webkit-transform: translateY(-35px) translateX(0%) scale(1.1);
              transform: translateY(-35px) translateX(0%) scale(1.1);
    }
  }
  @keyframes caranimation {
    0% {
      -webkit-transform: translateY(-35px) translateX(100%) scale(1.1);
              transform: translateY(-35px) translateX(100%) scale(1.1);
    }
    100% {
      -webkit-transform: translateY(-35px) translateX(0%) scale(1.1);
              transform: translateY(-35px) translateX(0%) scale(1.1);
    }
  }
}
/*# sourceMappingURL=style.css.map */